@font-face {
	font-family: "Indie Flower";
    src: url("https://fonts.gstatic.com/s/indieflower/v12/m8JVjfNVeKWVnh3QMuKkFcZVaUuH.woff2") format("woff2");
}

.App-header + section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.task {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
}

.done {
    text-decoration-line: line-through;
    color: #b1afaf;
}

.more_task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.more_task input[name="new_task"] { width: 600px;}